.app-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.items-content {
    display: flex;
    gap: 24px;
    padding: 12px;
}

.items-table {
    flex-basis: 33%;
    flex-grow: 0;
    max-width: 100%;
}

.selected-items-panel {
    flex-grow: 1;
    max-width: 100%;
}